/* THEME VARIABLES */
:root {
  --bg: #0d0d0d;
  --text: #ffffff;
  --accent: #ff4655;
  --card-bg: #1a1a1a;
  --card-hover: #242424;
  --border: #333;
  --secondary: #b3b3b3;
}

[data-theme="light"] {
  --bg: #f5f5f5;
  --text: #000;
  --accent: #ff4655;
  --card-bg: #ffffff;
  --card-hover: #e9e9e9;
  --secondary: #555;
}

/* GLOBAL */
body {
  margin: 0;
  background-color: var(--bg);
  color: var(--text);
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

/* NAVBAR */
.navbar-modern {
  background-color: var(--card-bg);
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border);
  position: sticky;
  top: 0;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: var(--accent);
}

.nav-links a {
  color: var(--text);
  text-decoration: none;
  margin-left: 18px;
  font-weight: 500;
  transition: 0.2s;
}

.nav-links a.active {
  color: var(--accent);
}

.nav-links a:hover {
  opacity: 0.7;
}

.theme-toggle {
  background: var(--accent);
  color: #fff;
  padding: 8px 14px;
  border-radius: 8px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.theme-toggle:hover {
  opacity: 0.85;
}

/* HERO SECTION */
.hero {
  text-align: center;
  padding: 60px 20px;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.hero h1 span {
  color: var(--accent);
}

.hero p {
  color: var(--secondary);
  font-size: 17px;
}

/* SEARCH BAR */
.search-bar,
.hero-search {
  width: 100%;
  max-width: 800px;
  display: flex;
  margin: 20px auto;
  border-radius: 12px;
  overflow: hidden;
}

.search-bar input,
.hero-search input {
  flex: 1;
  padding: 14px 18px;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: var(--card-bg);
  color: var(--text);
  transition: 0.2s;
}

/* Search Button which is next to input */
.search-bar button,
.hero-search button {
  padding: 14px 20px;
  font-size: 16px;
  background-color: var(--card-bg);
  color: var(--text);
  border: none; /*to merge with input remove border */
  cursor: pointer;
  transition: 0.2s;
}

/* Hover effect: red */
.search-bar button:hover,
.hero-search button:hover {
  background-color: var(--accent);
  color: #fff;
}

/* POPULAR TAGS */
.popular-tags {
  margin-top: 20px;
}

.popular-tags span {
  color: var(--secondary);
  margin-right: 10px;
}

.popular-tags button {
  background: var(--card-bg);
  color: var(--text);
  padding: 8px 14px;
  border-radius: 20px;
  border: 1px solid var(--border);
  margin: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.popular-tags button:hover {
  background: var(--accent);
}

/* MOVIE GRID */
.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));/*autofillcreate as many columns as it can fit in the container */
  gap: 25px;
  padding: 40px 20px;
}

/* MOVIE CARD */
.movie-card {
  background: var(--card-bg);
  border-radius: 14px;
  padding-bottom: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.25s ;
  border: 1px solid var(--border);
}

.movie-card:hover {
  transform: translateY(-6px);
  background: var(--card-hover);
}

.movie-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.movie-card h3 {
  font-size: 16px;
  margin: 10px 0 5px;
  padding: 0 10px;
}

.movie-card p {
  color: var(--secondary);
  font-size: 13px;
  padding: 0 10px;
}

/* LOADER / ERROR */
.loader {
  text-align: center;
  font-size: 19px;
  padding: 40px;
}

.error {
  color: #ff4d4d;
  text-align: center;
  font-size: 17px;
  padding: 40px;
}

/* MOVIE DETAILS PAGE*/
.container img {
  width: 260px;
  border-radius: 10px;
}

.container button {
  margin-top: 20px;
  background: var(--accent);
  color: #fff;
  padding: 10px 18px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.container button:hover {
  opacity: 0.85;
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 36px;
  }

  .hero-search input {
    width: 85%;
  }

  .navbar-modern {
    flex-direction: column;
    gap: 10px;
  }
}
